**/.idea/**
*.iml
*/out/

.gradle/
*/build/

*/src/main/resources/static/

*.stackdump

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*/lombok.config
logs/